.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.exitPreview {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5rem;
  background: var(--white);
  color: var(--gray-900);
  text-align: center;
  border-radius: 4px;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
}
